{% extends "users/base.html" %}

{% block title %} checkout {% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Item in the cart</h3>
				<a href="{% url 'mycart' %}">Update cart</a>
				<table class="table">
					<thead>
						<tr>
							<th>SN</th>
							<th>Product</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Subtotal</th>
						</tr>
					</thead>
					<tbody>
						{% for cp in cart.cartproduct_set.all %}
						<tr>
							<td>{{forloop.counter}}</td>
							<td>{{cp.product.name}}</td>
							<td><span>&#8377;</span>{{cp.product.price}}</td>
							<td>{{cp.quantity}}</td>
							<td><span>&#8377;</span>{{cp.subtotal}}</td>
						</tr>
						{% endfor %}
						<tr>
							<th colspan="4" class="text-right">Total</th>
							<th>Rs. {{cart.total}}</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<h3>Checkout Form</h3>
				<form action="" method="POST">{% csrf_token %}
					{{form.as_p}}
					<button>Place Order</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
