{% extends "users/base.html" %}

{% block title %} checkout {% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-8 mx-auto">
				<h3>Order Detail</h3>
				<p><span></span></p>
			</div>
			<div class="col-md-6">
				
			</div>
		</div>
	</div>
{% endblock %}


1. Today I have worked on:

E-commerce clone searching 
E-commerce clone add cart
E-commerce clone add placeorder


2. Currently I am working on:

Ecommerce clone filtering


3. Blocking point:

No