{% include 'users/base.html' %}

{% block title %}
	<title>product</title>
{% endblock %}

{% block content %}
 	<div class="container">
 		<div class="row">
 			<div class="col-md-5">
 				<img src="{{product.image.url}}" style="width: 400px; height: 400px;">
 				<button class="btn btn-success mt-4">Add to cart</button>
 				<button class="btn btn-success mt-4">Buy Now</button>
 			</div>
 			<div class="col-md-7">
		 		Name: {{product.name}}<br>
		 		RS: {{product.price}}<br>
		 		{% if not rating == none %} Average Rating: {{rating}} <br>{% endif %}
		 		Description: {{product.desc}}<br>
				<h3>Rating & Review</h3>
				{% for rating_list in rating_list %}
				<div class="card">
					
					User: {{ rating_list.user }} <br>
					Rating: {{ rating_list.rating }} <br>
					Review: {{ rating_list.review }} <br>
				</div>
				{% endfor %}
		 	</div>
 		</div>
 	</div>
{% endblock %}



